[Unit]
Description=Micro-XRCE-DDS-Agent
Wants=network.target
Requires=dev-ttyAMA4.device
After=dev-ttyAMA4.device syslog.target network-online.target

[Service]
Type=simple
ExecStart=/snap/bin/micro-xrce-dds-agent serial -b 3000000 -D /dev/ttyAMA4
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
