[Unit]

Description=Mavlink Router


Wants=network.target


After=syslog.target network-online.target


[Service]


Type=simple


ExecStart=$HOME/ark_jetson_scripts/start_mavlink_usb_udp.sh


Restart=on-failure


RestartSec=15


KillMode=process


[Install]


WantedBy=multi-user.target