[Unit]
Description=Set clocks to max
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/jetson_clocks
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
