[Unit]
Description=Set up ARK LTE Modem
After=network.target ModemManager.service sys-subsystem-net-devices-wwan0.device
Requires=ModemManager.service sys-subsystem-net-devices-wwan0.device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start_lte.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
