[Unit]
Description=Mavlink Router
Wants=network.target
Requires=sys-devices-platform-3550000.xudc-gadget-net-usb0.device
After=sys-devices-platform-3550000.xudc-gadget-net-usb0.device syslog.target network-online.target

[Service]
Type=exec
ExecStart=/usr/local/bin/start_mavlink_router.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
