[Unit]
Description=Micro-XRCE-DDS-Agent
Wants=network.target
After=syslog.target network-online.target time-sync.target

[Service]
Type=simple
ExecStart=/snap/bin/micro-xrce-dds-agent serial -b 3000000 -D /dev/ttyTHS0
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
