[Unit]
Description=Sets the time in UTC on PX4
Wants=network.target
Requires=mavlink-router.service
After=syslog.target network-online.target time-sync.target mavlink-router.service

[Service]
Type=exec
ExecStart=/usr/bin/px4_set_time.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
