[Unit]
Description=ARK UI Backend Service
Wants=network-online.target
After=syslog.target network-online.target nginx.service

[Service]
Type=simple
WorkingDirectory=/var/www/ark-ui/api
ExecStart=%h/.local/bin/start_ark_ui_backend.sh
Restart=on-failure

[Install]
WantedBy=default.target
