[Unit]
Description=ARK UI Backend Service
Wants=default.target network-online.target
After=default.target network-online.target syslog.target nginx.service

[Service]
Type=simple
WorkingDirectory=/var/www/ark-ui/api
ExecStart=%h/.local/bin/start_ark_ui_backend.sh
Restart=on-failure
Environment="PATH=%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"

[Install]
WantedBy=default.target
