[Unit]
Description=ARK UI Backend Service
Wants=network-online.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=npm start
WorkingDirectory=/var/www/ark-ui/api
Restart=on-failure

[Install]
WantedBy=default.target
