[Unit]
Description=PX4 Flight Review
Wants=network.target
After=syslog.target network.target nginx.service

[Service]
Type=simple
WorkingDirectory=/opt/flight_review/
ExecStart=%h/.local/bin/start_flight_review.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
