[Unit]
Description=Creates WiFi hotspot if no networks are found
Wants=network-online.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hotspot_fallback.sh

[Install]
WantedBy=default.target
