[Unit]
Description=Mavlink Router
Wants=network.target
After=network-online.target syslog.target

[Service]
Type=exec
ExecStart=%h/.local/bin/start_mavlink_router.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
