[Unit]
Description=Polaris GNSS corrections service client for MAVLink
Wants=network.target
After=syslog.target network.target mavlink-router.service

[Service]
Type=simple
ExecStart=%h/.local/bin/polaris-client-mavlink
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
