[Unit]
Description=RTSP Server
Wants=network.target
After=syslog.target network.target mavlink-router.service

[Service]
Type=simple
ExecStart=%h/.local/bin/rtsp-server
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
